SOAPWS/src/main/webapp/wsdl/Calculate.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://venki.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://venki.com" xmlns:intf="http://venki.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://venki.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="add">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
      <element name="b" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addResponse">
    <complexType>
     <sequence>
      <element name="addReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="product">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
      <element name="b" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="productResponse">
    <complexType>
     <sequence>
      <element name="productReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="addRequest">

      <wsdl:part element="impl:add" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addResponse">

      <wsdl:part element="impl:addResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="productResponse">

      <wsdl:part element="impl:productResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="productRequest">

      <wsdl:part element="impl:product" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Calculate">

      <wsdl:operation name="add">

         <wsdl:input message="impl:addRequest" name="addRequest">

       </wsdl:input>

         <wsdl:output message="impl:addResponse" name="addResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="product">

         <wsdl:input message="impl:productRequest" name="productRequest">

       </wsdl:input>

         <wsdl:output message="impl:productResponse" name="productResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CalculateSoapBinding" type="impl:Calculate">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="add">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="product">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="productRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="productResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CalculateService">

      <wsdl:port binding="impl:CalculateSoapBinding" name="Calculate">

         <wsdlsoap:address location="http://localhost:8080/SOAPWS/services/Calculate"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
